# Ignorar archivos de sistema de Windows
Thumbs.db
ehthumbs.db

# Ignorar directorios de compilación
/bin/
obj/

# Ignorar archivos de configuración de IDE
.vs/
.idea/
*.vscode

# Ignorar dependencias de Node.js
node_modules/

# Archivos y directorios de Maven
target/

# Archivos generados por IntelliJ IDEA
*.iml
*.ipr
*.iws

# Archivos de configuración y caché de IntelliJ IDEA
*.log
*.bak
*.swp
*.swo
*.tmp

# Archivos de usuario específicos
*.user
*.userPrefs
